<nav
  class="nav js-nav"
  data-domain="{{domain.name}}"
  data-is-home="{{home}}"
  data-is-site-aspect="{{domain.siteAspect}}"
  data-version="{{domain.version.string}}"
  role="navigation"
>
  {{!-- search wrapper used to position search icon --}}
  <div class="flex align-center search">
    <input class="input" placeholder="Search docs" type="search">
  </div>
  {{#each site.domains}}
  <ol class="nav-list {{#if ./selected}}active{{/if}} js-nav-list">
    <li class="nav-li">
      <a class="flex shrink align-center strong link nav-link nav-heading" tabindex="0">
        <image class="icon" src="_theme/images/icons/{{{this.name}}}.svg">
        <span class="flex grow">{{{./title}}}</span>
        {{#if this.versions}}
        {{#unless (eq this.versions.length 1)}}
        <select class="flex shrink select version-select js-version">
          <option disabled>Select version
          {{#each this.versions}}
          <option {{#if ./selected}}selected{{/if}} value="{{{./url}}}">{{./string}}{{#if ./latest}} (latest){{/if}}
          {{/each}}
        </select>
        {{/unless}}
        {{/if}}
      </a>
    {{> navigation-tree items=items}}
  </ol>
  {{/each}}
</nav>

